*{
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
}

html, body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*footer{
	color: #04b5a0;
	font-weight: bold;
}*/

/* >>>>> index.html CSS <<<<< */
/*
#tagL{
	color: black;
	text-align: center; 
	margin:0;
	font-size:15px;
}*/

/* >>>>> NAVIGATION BAR <<<<<*/
/*
#logo{
	width: 18%;
	opacity: 1;
	margin-bottom: 7px;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
}*/

.navbarMain {
	position: sticky;
	overflow: hidden;
	background-image: linear-gradient(180deg, rgb(250, 161, 185), rgb(249, 148, 175), rgb(239, 139, 166), rgb(252, 154, 180));
}

.navbarMain a {
	float: left;
	display: block;
	margin-left: 1.5%;
}

.NavBar a{
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.NavBar a:hover{
	font-size: 30px;
	background-color: black;
	padding: 6px 8px;
	color: white;
}

/* >>>>> INDEX IMAGE OVERLAY CSS <<<<< */

.homePageImg{
	position: relative;
	display: block;
}
.headImg{
	display: block;
	width: 100%;
	height: 300px;
	opacity: 1;
	transition: .3s;
	/*backface-visibility: hidden;*/
	mix-blend-mode: luminosity;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
	margin-bottom: 4%;
}
.txtBlock{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 35%;
	opacity: 2;
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
	color: white;
	/*font-size: 100px;*/
	font-size:300%;
	text-align: center;
	padding-top: 50px;
	margin-left: 3%;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
}

#MSHlogo{
  	width: 15%;
	opacity: 1;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.5);
}

.img{
	width: 100%;
	height: 70%;
	margin-bottom: 20%;
	margin-top: 10%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.9);
}

.hText{
 	color: white;
  	font-size: 30px;
 	margin-top: -35px;
  	width: 70%;
  	height: 60%;
	text-align: center;
  	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
}

.img2{
	width: 100%;
	height: 122%;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
}

.hText2{
	font-size: 30px;
    color: white;
    margin-top: -10px;
    text-align: center;
	width: 70%;
	height: 100%;
	text-align: center;
   	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
}

.iContainer{
	display: grid;
	grid-template-columns: 300px 1fr;
	align-items: center;
	max-width: 90%;
	/*margin-left: 15%;*/
	font: 500 100%/1.5 system-ui;
  	transition: 0.3s;
}
