*{
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
}

html, body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#footerNav{
	margin-top: 8px;
	cursor: pointer;
}

/* >>>>> NAVIGATION BAR <<<<<*/

/* MOBILE VIEW */

.navbarMain {
	background-image: linear-gradient(180deg, rgb(250, 161, 185), rgb(249, 148, 175), rgb(239, 139, 166), rgb(252, 154, 180));
	overflow: hidden;
}

.nav-toggle{
	position: relative;
	cursor: pointer;
	top: 7px;
	right: 30px;
	margin-right: 15px;
}

#nav-checkbox{
	display: none;
}

.close{
	float: left;
	display: none;
	margin-left: 50px;
	margin-top: 6px;
	margin-bottom: 15px;
	padding-right: 32%;
}

.menu{
	float: left;
	margin-left: 50px;
	margin-top: 6px;
}

#main-logo{
	float: left;
}

.navbarMain a {
	float: left;
}

#navLink {
	font-size: 12px;
	color: white;
	text-decoration: none;
}

#navLink:hover, .dropdown:hover .dropbtn{
	font-size: 12px;
	background-color: black;
	padding: 6px 8px;
	color: white;
}

.dropdown {
	overflow: hidden;
	float: left;
}

.dropdown .dropbtn {
	font-size: 12px;
	color: white;
	text-align: center;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 15px;
}

.dropdown-content{
	display: none;
	position: absolute;
	font-size: 22px;
	background-color: white;
	width: auto;
	box-shadow: 0px 8px 16px 0px #CB6074;
	z-index: 1;
	margin-left: 20px;
}

.dropdown-content a{
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-top: 5px;
}

.dropdown-content a:hover{
	color: white;
	background-color: black;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.nav-menu li{
	display: none;
	color: inherit;
}

.nav-checkbox:checked ~ ul.nav-menu li{
	display: block;
}

.nav-checkbox:checked ~ label.nav-toggle .close{
	display: block;
}

.nav-checkbox:checked ~ label.nav-toggle .menu{
	display: none;
}

/* DESKTOP VIEW */

@media only screen and (min-width:560px){
	.navbarMain .nav-toggle{
		display: none;
	}

	.navbarMain .nav-menu{
		flex-direction: row;
	}

	.nav-menu li{
		display: block;
	}

	.navbarMain a {
		float: left;
		margin-left: 1.5%;
	}

	#navLink {
		font-size: 25px;
		color: white;
		text-align: center;
		text-decoration: none;
	}

	#navLink:hover, .dropdown:hover .dropbtn{
		font-size: 30px;
		background-color: black;
		padding: 6px 8px;
		color: white;
	}

	.dropdown {
		overflow: hidden;
		float: left;
	}

	.dropdown .dropbtn {
		font-size: 25px;
		color: white;
		text-align: center;
		border: none;
		outline: none;
		background-color: inherit;
		font-family: inherit;
		margin-left: 20px;
		padding-bottom: 15px;
	}

	.dropdown-content{
		display: none;
		position: absolute;
		font-size: 25px;
		background-color: white;
		width: auto;
		box-shadow: 0px 8px 16px 0px #CB6074;
		z-index: 1;
		margin-left: 20px;
	}
	
	.dropdown-content a{
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		margin-top: 5px;
	}
	
	.dropdown-content a:hover{
		color: white;
		background-color: black;
	}

	.dropdown:hover .dropdown-content{
		display: block;
	}
}

/* >>>>> INDEX IMAGE OVERLAY CSS <<<<< */

.homePageImg{
	position: relative;
	display: block;
}
.headImg{
	display: block;
	width: 100%;
	height: 300px;
	opacity: 1;
	transition: .3s;
	/*backface-visibility: hidden;*/
	mix-blend-mode: luminosity;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
	margin-bottom: 4%;
}

.txtBlock{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 35%;
	opacity: 2;
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
	color: white;
	font-size:300%;
	text-align: center;
	padding-top: 50px;
	margin-left: 3%;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
}

#MSHlogo{
	width: 15%;
	opacity: 1;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.5);
	overflow: hidden;
}

.img{
	width: 100%;
	height: 70%;
	margin-bottom: 20%;
	margin-top: 10%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.9);
}

.hText{
 	color: white;
  	font-size: 30px;
 	margin-top: -35px;
  	width: 70%;
  	height: 60%;
	text-align: center;
  	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
}

.img2{
	width: 100%;
	height: 122%;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
}

.hText2{
	font-size: 30px;
    color: white;
    margin-top: -10px;
    text-align: center;
	width: 70%;
	height: 100%;
	text-align: center;
   	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
	background-image: linear-gradient(180deg, rgb(248, 87, 130), rgb(251, 128, 161), rgb(247, 163, 156), rgb(248, 87, 130));
}

.iContainer{
	display: grid;
	grid-template-columns: 300px 1fr;
	align-items: center;
	max-width: 90%;
	font: 500 100%/1.5 system-ui;
  	transition: 0.3s;
}

/* PRODUCT CARD */

#productTitle{
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 80px;
	width: 250px;
  	opacity: 1;
  	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.5);
	z-index: 1;
}

@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
@import 'bourbon';

.wrapRow{
	margin-left: 25px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cardRow{
	margin: 20px;
	background: #fff;
	text-align: center;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.9);
}
			
.card-img img{
	opacity:0.8;
}
			
.card-img{
	position: relative;
	text-align: center;
	background: none;
}

#cardImg{
	width: 280px;
	height: 250px;
	padding-bottom: 30px;

}

#cardImg:before{
	content:'';
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border-top: solid 10px #CB6074;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

#card-name{
	position:absolute;
	margin: 0;
	font-size: 22px;
	bottom: 5px;
	width: 100%;
	color: #fa0c6b;
	font: system-ui;
	letter-spacing: 1px;
	border-top : 4px solid #fa0c6b;
	border-bottom : 4px solid #fa0c6b;
}
		
.card-price{
	font-size: 22px;
	font-weight: bolder;
	padding: 0 12px;
	padding-top: 5px;
	display: flex;
}

.card-text{
	display: flex;
	padding: 5px 12px;
	font-family: 'Roboto', sans-serif;
	line-height:22px;
}


.card-content:hover .dropbtn-name {
	background-color: black;
	color: white;
	cursor: pointer;
	border-radius: 35%;
}

.card-content {
	overflow: hidden;
	float: left;
}

.card-content .dropbtn-name {
	font-size: 15.5px;
	color: white;
	border: none;
	outline: none;
	background-color: black;
	font-family: inherit;
	padding: 3px 12px;
	margin-bottom: 6px;
}

.dropBtn-content {
	display: none;
	text-align: left;
    font-size: 20px;
	background-color: white;
	width: auto;
	box-shadow: 0px 8px 16px 0px #CB6074;
	position: absolute;
	z-index: 1;
}

.card-content:hover .dropBtn-content {
	display: block;
}
